/* PHASE 3: Content */

.content {
  width: 900px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid #ccc;
  padding:0;
}

.content::after {
  content: "";
  clear:both;
  display: block;
}

.content-sidebar {
  padding-left: 20px;
  padding-right: 20px;
  width: 200px;
  float:left;
  display: block;
}

.content-main {
  float: left;
  width: 620px;
  padding-left: 20px;
  padding-right: 20px;
}

.content h1 {
  font-weight: 700;
  font-size: 24px;
  padding: 20px 0;
}

.content p {
  padding-bottom: 20px;
}